<div class="container">
  <div class="col col-sm-12 col-md-12 col-lg-12" style="z-index: -1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">First</th>
          <th class="text-center">Last</th>
          <th class="text-center">Handle</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">Mark</td>
          <td class="text-center">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center" style="cursor-pointer">
            <i class="fa fa-eye"></i>
          </td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td class="text-center">Jacob</td>
          <td class="text-center">Thornton</td>
          <td class="text-center">@fat</td>
          <td class="text-center" (click)="openDialog()">
            <i class="fa fa-eye" style="cursor: pointer"></i>
          </td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td class="text-center">Larry the Bird	</td>
          <td class="text-center">-</td>
          <td class="text-center">@twitter</td>
          <td class="text-center" style="cursor-pointer">
            <i class="fa fa-eye"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
